body {
  background: #CFF1F1;
}

.jumbotron {
  background-color: #02B4B5;
  color: #ffffff;
}

.well {
  height: 100px;
  background: #02B4B5;
  color: #ffffff;
}

.well h3 {
  display: none;
}

button {
  float: right;
}
